<p>hello angular {{ name }}</p>

<!--
  $implicit: item (Implicit Context variable)
-->

<ul>
  <ng-container *ngIf="users.length > 0; else noUsers">
  <li
    *ngFor="
      let user of users;
      index as idx;
      count as total;
      first as isFirst;
      last as isLast;
      even as isEven;
      odd as isOdd
    "
  >
    <span>{{ user.name }} - {{ user.id }} - {{ user.phone }}</span>
    <br />
    <span>at index {{ idx }} out of {{ total }}</span>
    <br />
    <span *ngIf="isEven">i'm even num</span>
    <br />
    <span *ngIf="isOdd">i'm odd num</span>
    <br />
    <span *ngIf="isFirst">i'm first</span>
    <br />
    <span *ngIf="isLast">i'm last</span>
    <br /><br />
  </li>
  </ng-container>
  <ng-template #noUsers>
    no users
  </ng-template>
</ul>

<button *ngFor="let tag of tags; last as isLast" [class.right-margin]="!isLast">
  {{ tag }}
</button>

tương tự *ngFor cũng là cú pháp viết tắt, viết đủ sẽ là 
<ul>
  <ng-template
    ngFor
    [ngForOf]="users"
    let-user
    let-idx="index"
    let-total="count"
    let-isFirst="first"
    let-islast="last"
    let-isEven="even"
    let-isOdd="odd"
  >
    <li
      *ngFor="
        let user of users;
        index as idx;
        count as total;
        first as isFirst;
        last as isLast;
        even as isEven;
        odd as isOdd
      "
    >
      <span>{{ user.name }} - {{ user.id }} - {{ user.phone }}</span>
      <br />
      <span>at index {{ idx }} out of {{ total }}</span>
      <br />
      <span *ngIf="isEven">i'm even num</span>
      <br />
      <span *ngIf="isOdd">i'm odd num</span>
      <br />
      <span *ngIf="isFirst">i'm first</span>
      <br />
      <span *ngIf="isLast">i'm last</span>
      <br /><br />
    </li>
  </ng-template>
</ul>
